[Unit]
Description=Genkan
After=syslog.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/
ExecStart=/home/pi/genkan_device
Restart = always
StandardOutput=null
EnvironmentFile=/home/pi/.genkan.env

[Install]
WantedBy = multi-user.target
