[Unit]
Description=Genkan
After=printer.target network.target multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/
ExecStart=/home/pi/genkan_device
Restart = always
RuntimeMaxSec=3600s
StandardOutput=null
EnvironmentFile=/home/pi/.genkan.env

[Install]
WantedBy = multi-user.target
